*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 2vh;
  background-color: #52002E;
}


nav {
  background-color: firebrick;
  color: white;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-spacing: 5vw;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

main {
  background-color: #439191;
  color: white;
}

.first {
  background-color: #1B8E1B;
  color: white;
}

.second {
  background-color: #D08242;
  color: white;
}

.image {
  background-color: #8F1B5D;
  color: white;
}

@media only screen and (max-width: 400px) {

  .first {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 482px) {

  .first {
    padding-bottom: 84px;
  }

}

@media only screen and (max-width: 651px) {

  nav {
    height: 4vh;
    width: 94vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links li {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .header {
    text-align: center;
    font-size: 18px;
  }
  main {
    height: 44vh;
    width: 94vw;
    margin-bottom: 1vh;
  }

  .first {
    height: 7vh;
    width: 94vw;
    margin-bottom: 3vh;
    padding-top: 3px;



  }

  .first p {
    height: 0;
    width: 0;
    font-size: 0;
  }

  .key-words {
    text-align: center;
    word-spacing: 20px;
    padding-left: 0;
    font-size: 20px;
    min-width: 900px;

  }

  .key-words li {
    display: inline;
    letter-spacing: 4px;
  }

  .second {
    height: auto;
    width: 94vw;
    margin-bottom: 3vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    height: 18vh;
    width: 94vw;
  }

}


@media only screen and (min-width: 656px) {

  body {
    margin: 0;
  }

  .header {
    float: left;
    position: absolute;
    bottom: 1%;
    left: 15px;
    font-size: 30px;
  }

  main {
    position: relative;
    height: 65vh;
    width: 100vw;
    margin-bottom: 1vh;
  }

  .first {
    height: 31vh;
    width: 49vw;
    float: left;
    padding: 15px;
  }

  .first p {
    text-align: center;
    font-size: 18px;
  }

  .key-words {
    text-align: center;
    word-spacing: 20px;
    padding-left: 0;
    font-size: 20px;
  }

  .key-words li {
    display: inline;
    letter-spacing: 4px;
  }

  .image {
    height: 31vh;
    width: 48vw;
    float: right;
  }

  .second {
    height: 0;
    width: 0;
    font-size: 0;
  }

  nav {
    float: left;
    height: 209px;
    width: 80px;
    position: absolute;
    top: 50px;
    left: 20px;
    margin-bottom: 0;
    padding-left: 1vh;
  }

  .nav-links li {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 35px;
  }
}

@media only screen and (min-width: 1225px) {

  body {
      margin: 0;
  }

  .header {
    float: left;
    position: absolute;
    top: 1100px;
    left: 15px;
  }

  main {
    height: 100vh;
    width: 75vw;
    float: left;
    margin: 0;
  }

  .first {
    height: 49vh;
    width: 23vw;
    float: right;
    margin-bottom: 2vh;
    margin-left: -1vh;
  }

  .key-words {
    font-size: 30px;
  }

  .first p {
    font-size: 20px;
  }
  .image {
    height: 49vh;
    width: 23vw;
    float: right;
  }

}
