*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 2vh;
  background-color: #52002E;
}

nav {
  background-color: firebrick;
  color: white;

}

main {
  background-color: #439191;
  color: white;
}

.first {
  background-color: #1B8E1B;
  color: white;
}

.second {
  background-color: #D08242;
  color: white;
}

.mobile-only {
  background-color: #8F1B5D;
  color: white;
}


@media only screen and (max-width: 599px) {

  nav {
    height: 12vh;
    width: 94vw;
    margin-bottom: 7vh;

  }

  main {
    height: 44vh;
    width: 94vw;
    margin-bottom: 1vh;
  }

  .first {
    height: 5vh;
    width: 94vw;
    margin-bottom: 2vh;

  }

  .second {
    height: 5vh;
    width: 94vw;
    margin-bottom: 2vh;
  }

  .mobile-only {
    height: 18vh;
    width: 94vw;
  }

}

@media only screen and (min-width: 600px) {

  body {
    margin: 0;
  }

  main {
    height: 65vh;
    width: 100vw;
    margin-bottom: 1vh;

  }

  .first {
    height: 31vh;
    width: 49vw;
    float: left;
  }

  .second {
    height: 31vh;
    width: 49vw;
    float: right;
  }

  .mobile-only {
    height: 0;
    width: 0;
    font-size: 0;
  }

  nav {
    float: left;
    height: 170px;
    width: 170px;
    position: absolute;
    top: 50px;
    left: 50px;
    margin-bottom: 0;

  }
}

@media only screen and (min-width: 1225px) {

  body {
      margin: 0;
  }

  main {
    height: 100vh;
    width: 75vw;
    float: left;
    margin: 0;
  }

  .first {
    height: 49vh;
    width: 23vw;
    float: right;
    margin-bottom: 2vh;
    margin-left: -1vh;
  }

  .second {
    height: 49vh;
    width: 23vw;
    float: right;
  }
}
